<%= render 'shared/errors', obj: @student %>

<div class="container">
  <div class="row sign-up-form">
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <h3 class="header"><%=  @student.new_record? ? "Sign Up" : "Edit Profile" %></h3>
        <div class="row">
          <%= form_for(@student,html: {class: "col s12"}) do |f| %>
          <div class="row"> 
            <div class="input-field col s4">
              <label>Want to be a Mentor?</label><%= f.select :is_mentor, options_for_select([["Nope, just Mentee by now", "false"], ["Sure. Let's share!", "true"]]),{ :selected => @student.is_mentor},class: "select-mentor" %>
            </div>
          </div>
          <div class="row"> 
            <div class="input-field col s12">
              <%= f.text_field :name, placeholder: "Enter your full name", autofocus: true%>  
              <%= f.label :name,"Enter your full name", class: "active" %>
            </div>
          </div>
          <div class="row"> 
            <div class="input-field col s12">  
              <%= f.text_field :email, placeholder: "Enter your Email Address" %>
              <%= f.label :email,"Enter your Email Address", class: "active" %>
            </div>
          </div>
         
          <div class="row"> 
            <div class="input-field col s12">  
              <%= f.text_field :role, placeholder: "Enter your current Role" %>
              <%= f.label :role,"Enter your current Role", class: "active" %>
            </div>
          </div>

          <div class="row"> 
            <div class="input-field col s6">  
              <%= f.text_field :domain, placeholder: "Enter you Domain" %>
              <%= f.label :domain,"Enter you Domain",class: "active" %>
            </div>
            <div class="input-field col s6">  
              <%= f.text_field :team, placeholder: "Enter your Team" %>
              <%= f.label :team,"Enter your Team", class: "active" %>
            </div>
          </div>

          <div class="row"> 
            <div class="input-field col s12">  
              <%= f.text_field :skills, placeholder: "Enter between commas the topics you can mentor about" %>
              <%= f.label :skills,"Topics you can mentor", class: "active" %>
            </div>
          </div>

          <div class="row"> 
            <div class="input-field col s12">  
              <%= f.text_field :interests, placeholder: "Enter between commas the topics you want to learn about" %>
              <%= f.label :interests,"Topics you want to learn", class: "active" %>
            </div>
          </div>

          <div class="row"> 
            <div class="input-field col s6">  
              <%= f.password_field :password, placeholder: "Choose a password" %>
              <%= f.label :password,"Choose a password",class: "active" %>
            </div>
            <div class="input-field col s6">  
              <%= f.password_field :password_confirmation, placeholder: "Confirm your password" %>
              <%= f.label :password_confirmation,"Confirm your password", class: "active" %>
            </div>
          </div>
          <div class="row"> 
            <div class="input-field col s12"> 
              <%= f.button(@student.new_record? ? '<i class="material-icons right">fast_forward</i>Sign Up'.html_safe : '<i class="material-icons right">fast_forward</i>Submit Changes'.html_safe, class: "btn orange waves-effect waves-light right") %>
            </div>
          </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>