<div class="row">
  <div class="col s-6">
    <h4 class="center-align">Teammates</h4>
  </div>
</div>
    <div class="row">
    <div class="col s-6">
      <%= form_tag search_students_path, method: :get do %>
      <!--<p>
        <label>
          <input name="search_scope" type="radio" value="false" checked />
          <span>All members</span>
        </label>
        <label>
          <input name="search_scope" type="radio" value="true" />
          <span>Only mentors</span>
        </label>&nbsp;-->
      <%= label_tag "Search by name, skills or interests" %>
        <%= text_field_tag :search, params[:search],class: "finder" %>
        <%= submit_tag "Search" %>
     <% end %>
    <!-- </p>-->
     </div>

</div>

<div class="row">
  <% @students.each do |student|  %>
   
    <div class="col s6 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title"><%= student.name%>
            <% if student.is_mentor? %>
            <%='<i class="material-icons right icon-yellow">gps_fixed</i>'.html_safe %>
          <% end %>
        </span>
          <p><a href="mailto:<%= student.email %>"><%= student.email%></a></p>
          <% if student.role!=nil && student.role!='' %>
            <p><%=student.role%> @ <%=student.domain%>::<%=student.team%></p>
          <% else %>
           <p>NoRole @ NoDomain::NoTeam</p>
          <% end %>      
          <ul><u>Enroled Courses</u>
            <% student.courses.each do |course| %>
            <li> - <%= course.name %></li>
            <% end %>
          </ul>
        </div>
        <div class="card-action">
          <%= link_to "View Profile", student_path(student) %>
        </div>
      </div>
    </div>

  <% end %>
</div>