<div class="row">
  <div class="col s-12">
    <h4 class="center-align">Teammates</h4>
  </div>
</div>
<div class="row">
    <div class="col s-12">
      <%= form_tag search_students_path, method: :get do %>
      <p>
      <% if params[:search_scope].nil? ||  params[:search_scope]=='false' %>
          <label>
            <input name="search_scope" type="radio" value="false" checked />
            <span>All members</span>
          </label>
          <label>
            <input name="search_scope" type="radio" value="true" />
            <span>Only mentors</span>
          </label>&nbsp;
      <% else %>
        <label>
          <input name="search_scope" type="radio" value="false" />
          <span>All members</span>
        </label>
        <label>
          <input name="search_scope" type="radio" value="true" checked/>
          <span>Only mentors</span>
        </label>&nbsp;
      <% end %>
      </p>

        <%= label_tag "Search by name, skills or interests" %>
      <%= label_tag "Search by name, skills or interests" %>
        <%= text_field_tag :search, params[:search],class: "finder" %>
        <%= submit_tag "Search" %>
     <% end %>
    <!-- </p>-->
     </div>

</div>

<%= render 'results' %>