<div class="row  sign-up-form">
  <div class="col s6 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title"><%= @student.name%> 
          <% if @student.is_mentor? %>
            <%='<i class="material-icons right icon-yellow">gps_fixed</i>'.html_safe %>
          <% end %>
        </span>
        <p>Email: <%= @student.email%></p>
        <p><%=@student.role%> at <%=@student.domain%>::<%=@student.team%></p>
        <p>Since: <%=@student.created_at %></p>
        <br>
        <p class="underline">Course Enrolments: 
          <% if @student.courses.empty? %>
            None
          <% else %> 
          <ul>
            <% @student.courses.each do |course| %>
            <li> - <%= course.name %>&nbsp;&nbsp;&nbsp;&nbsp;<%=link_to "Leave", course_drop_path(course_id: course.id), class: "waves-effect waves-light btn leave", method: :delete %></li>
            <% end %>
          </ul>
          <%end %>
        </p>
      </div>
    </div>
    <% if current_user == @student %>
     <%= link_to '<i class="material-icons right">create</i>Edit your profile'.html_safe, edit_student_path(@student),class: "waves-effect waves-light btn-large" %>
    <% end %>
  </div>
</div>