<div class="row">
  <div class="col s-12">
    <h3 class="center-align">Coming Worksessions</h3>
  </div>
</div>

<div class="row">
  <% @courses.each do |course|  %>
  <div class="col s6 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title"><%= course.short_name%> : <%=course.name %></span>
        <% if logged_in? && course.mentor_id==current_user.id %>
          <p>Facilitator: You </p>
        <% else %>
          <p>Facilitator: <%=Student.find(course.mentor_id).name %></p>
        <% end %>
        <p>When: <%=course.session_date %></p>
        <p>Max attendants: <%= course.max_attendants %>
          <%if course.students.count>=course.max_attendants%>
          (ALL SEATS BOOKED ALREADY!!)
          <% else %>
          (<%=course.students.count%> seats already taken)
          <% end %>
        </p>
        <p><i><%=course.description.truncate(100) %></i></p>
      </div>
      <div class="card-action">
        <% if logged_in? %>
          <% if !(current_user.courses.include?(course))%>
            <% if course.mentor_id!=current_user.id && course.students.count<course.max_attendants %>
              <%= link_to "Enroll", course_enroll_path(course_id: course.id), method: :post %>
            <% end %>
          <%else%>
            <%= link_to "Leave Course", course_drop_path(course_id: course.id), method: :delete %>
          <% end %>   
        <% end %>  
        <a href="#">Info</a>
      </div>
    </div>
  </div>
  <% end %>
</div>

